/* Definições de estilo gerais */
body {
    font-family: 'Arial', sans-serif;
    background-color: #000000;
    text-align: center;
    overflow: hidden; /* Para que os corações flutuem sem rolagem */
}

#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Para o vídeo ficar no fundo */
}


h1 {
    color: #d6336c; /* Cor que remete ao tema romântico */
    font-size: 3em;
    margin-top: 50px;
}
html, body {
    height: 100%;  /* Define a altura de 100% para garantir que o conteúdo ocupe a página inteira */
    margin: 0;
    padding: 0;
    overflow-y: auto;  /* Adiciona a barra de rolagem vertical */
    scroll-behavior: smooth; /* Faz a rolagem ser suave */
}

img {
    max-width: 100%;   /* A imagem nunca ultrapassará 100% da largura da tela */
    height: auto;      /* A altura será ajustada automaticamente para manter a proporção */
    margin: 0 auto;    /* Centraliza a imagem horizontalmente */
    display: block;    /* Garante que a imagem seja exibida como um bloco e ocupe toda a largura disponível */
    border-radius: 15px; /* Adiciona bordas arredondadas */
}

/* Adiciona uma regra para ajustar ainda mais o tamanho da imagem em telas menores */
@media (max-width: 768px) {
    img {
        max-width: 80%; /* Em telas menores, define um limite de 80% da largura da tela */
    }
}

@media (max-width: 480px) {
    img {
        max-width: 90%; /* Em telas muito pequenas (como celulares), define o limite para 90% */
    }
}

/* Estilos do contêiner dos corações */
.hearts-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Para garantir que o usuário possa interagir com o conteúdo da página */
}

/* Estilo dos corações */
.heart {
    position: absolute;
    font-size: 100px;
    color: #ff0000;
    animation: float 5s infinite;
    transform: rotate(0deg);
}

/* Animação dos corações flutuando */
@keyframes float {
    0% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateY(-100vh) scale(1.5);
        opacity: 0;
    }
}

/* Estilizando a contagem de tempo */
.time-counter {
    font-size: 24px;
    color: #d6336c;
    margin-top: 20px;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
}/* Estilizando a contagem até o dia do namoro */
.countdown-to-date {
    font-size: 24px;
    color: #ff69b4; /* Escolha um rosa mais claro ou diferente */
    margin-top: 20px;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
}
/* Estilização do contêiner do nome */
.name-container {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #d6336c;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* Esconder a tabela por padrão */
.pros-cons-table {
    display: none;
    position: absolute;
    top: 30px;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #d6336c;
    border-radius: 10px;
    padding: 10px;
    z-index: 10;
    width: 300px;
}

/* Exibir a tabela ao passar o mouse sobre o nome */
.name-container:hover .pros-cons-table {
    display: block;
}

/* Estilização da tabela */
.pros-cons-table table {
    width: 100%;
    border-collapse: collapse;
}

.pros-cons-table th, .pros-cons-table td {
    padding: 8px;
    text-align: left;
    border: 1px solid #d6336c;
}

.pros-cons-table th {
    background-color: #f0a3c1;
    color: #ffffff;
}

.pros-cons-table td {
    color: #555;
}

/* Esconder a tabela por padrão */
.pros-cons-table2 {
    display: none;
    position: absolute;
    top: 30px;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #d6336c;
    border-radius: 10px;
    padding: 10px;
    z-index: 10;
    width: 300px;
}

/* Exibir a tabela ao passar o mouse sobre o nome */
.name-container:hover .pros-cons-table2 {
    display: block;
}

/* Estilização da tabela */
.pros-cons-table2 {
    width: 100%;
    border-collapse: collapse;
}

.pros-cons-table2 th, .pros-cons-table2 td {
    padding: 8px;
    text-align: left;
    border: 1px solid #d6336c;
}

.pros-cons-table2 th {
    background-color: #f0a3c1;
    color: #ffffff;
}

.pros-cons-table2 td {
    color: #555;
}

.checkbox-answer {
    background-color: #f0a3c1;
    color: #ffffff  
}
label{
    color: #d6336c; /* Define a cor do texto das labels */
    font-weight: bold;
    margin-left: 5px;
}

/* Estilos gerais */
.hidden {
    display: none;
}
#alert-box, #contract-box {
    background-color: #f0a3c1;
    padding: 20px;
    border-radius: 10px;
    color: #ffffff;
    width: 300px;
    margin: 20px auto;
    text-align: center;
}

